{% extends 'admin/change_list.html' %}
  {% block object-tools %}

    <div style="display: flex; flex-direction: row; flex-wrap: wrap">
      <div style="margin: 5px 5px 5px 5px;  display: block">
        <form action="{% url 'create_client' %}" method="POST">
          {% csrf_token %}
            <input type="text" name="NAME_CREATE" placeholder="Имя клиента" />
            <input type="email" name="EMAIL_CREATE" placeholder="Email клиента" />
            <input type="submit" value="Создать клиента" />
        </form>
      </div>
      <div style="margin: 5px 5px 5px 5px;  display: block">
        <form action="{% url 'send_check' %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="Отправить счет" />
        </form>
      </div>
    </div>
  {{ block.super }}
{% endblock %}
