{% extends "master.html" %}
{% load static %}
{% block main %}
{% include "header.html" %}
{% include "aside.html" %}
<main class="container mt-header">
    <article class="row">
        <div class="col-12 col-lg-6 mb-3 mb-lg-0">
            <h1 class="fw-bold SelfStorage_green mb-5">Доставка и бережное хранение ваших вещей</h1>
            <h4 class="fw-lighter SelfStorage_grey mb-5">Аренда бокса на любой срок Бесплатная доставка от вашего
                дома </h4>
            <form class="">
                {% csrf_token %}
                <a href="{% url 'storages:index' %}"
                   class="btn border-8 py-3 px-5 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange">Рассчитать
                    стоимость</a>
                <span class="text-center fw-light">Нажимая на кнопку, вы подтверждаете свое <a href="#"
                                                                                               class="link-dark">согласие на обработку персональных данных</a></span>
            </form>
        </div>
        <div class="col-12 col-lg-6 SelfStorage__img"></div>
    </article>
    <article class="mt-header">
        <h1 class="text-center fw-bold SelfStorage_green mb-5">Выбор склада</h1>
        <h6 class="text-center SelfStorage_grey">Арендуйте склад индивидуального хранения по уникальной цене прямо
            сейчас</h6>
        <ul class="nav nav-pills mb-3 d-flex justify-content-between" id="boxes-links" role="tablist">
            {% for storage in storages %}
            <li class="nav-item flex-grow-1 mx-2" role="presentation">
                <a href="{% url 'storages:box_select' storage.id %}"
                   class="row text-decoration-none py-3 px-4 mt-5 SelfStorage__boxlink"
                   id="pills-Moscow-tab" data-bs-target="#pills-Moscow" role="tab"
                   aria-controls="pills-Moscow" aria-selected="true">
                    <div class="col-12 col-lg-3 d-flex justify-content-center">
                        <img src="{{ storage.image.url }}" alt="" class="mb-3 mb-lg-0">
                    </div>
                    <div class="col-12 col-md-4 col-lg-3 d-flex flex-column justify-content-center">
                        <h4 class="text-center">{{ storage.city }}</h4>
                        <h6 class="text-center">{{ storage.address }}</h6>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3 d-flex flex-column justify-content-center">
                        <h4 class="text-center">{{ storage.count_of_free_boxes }} из {{ storage.count_boxes }}</h4>
                        <h6 class="text-center">Боксов свободно</h6>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3 d-flex flex-column justify-content-center">
                        <h4 class="text-center SelfStorage_green">от {{ storage.min_price }} ₽</h4>
                        <h6 class="text-center">{{ storage.feature }}</h6>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </article>
    <article class="pt-header" id="BOX">
        <div class="tab-content" id="boxes-content">
            <div class="tab-pane fade show active" id="pills-Moscow" role="tabpanel" aria-labelledby="pills-Moscow-tab">
                <h1 class="text-center mb-4 fw-bold">{{ random_storage.city}}, {{ random_storage.address}}</h1>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div id="carouselExampleControls1" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="d-flex flex-column align-items-center">
                                        <img src="{% static 'img/image2.png' %}" alt="">
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="d-flex flex-column align-items-center">
                                        <img src="{% static 'img/image2.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="w-100 d-flex justify-content-center my-3">
                                <button data-bs-target="#carouselExampleControls1" data-bs-slide="prev"
                                        class="btn rounded-pill d-flex justify-content-center align-items-center SelfStorage__bg_green"
                                        style="width: 66px; height: 66px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#fff"
                                         class="bi bi-chevron-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                              d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                                    </svg>
                                </button>
                                <div style="width: 1rem"></div>
                                <button data-bs-target="#carouselExampleControls1" data-bs-slide="next"
                                        class="btn rounded-pill d-flex justify-content-center align-items-center SelfStorage__bg_green"
                                        style="width: 66px; height: 66px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#fff"
                                         class="bi bi-chevron-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="row">
                            <p class="text-center text-lg-start SelfStorage_grey">Доступ по QR</p>
                            <div class="col-6 d-flex flex-column align-items-center align-items-lg-start">
                                <span class="fs_30 fw-bold SelfStorage_orange">17 °С</span>
                                <span class="SelfStorage_grey mb-3">Температура на складе</span>
                                <span class="fs_30 fw-bold SelfStorage_orange">{{ random_storage.count_of_free_boxes }} из {{ random_storage.count_boxes }}</span>
                                <span class="SelfStorage_grey mb-3">Боксов свободно</span>
                            </div>
                            <div class="col-6 d-flex flex-column align-items-center align-items-lg-start">
                                <span class="fs_30 fw-bold SelfStorage_orange">до {{ random_storage.max_height }} м</span>
                                <span class="SelfStorage_grey mb-3">Высота потолка</span>
                                <span class="fs_30 fw-bold SelfStorage_orange">от {{ random_storage.min_price }} ₽</span>
                                <span class="SelfStorage_grey mb-3">Оплата за месяц</span>
                            </div>
                            <div class="d-flex flex-column align-items-center align-items-lg-start">
                                <a href="{% url 'storages:box_select' random_storage.id %}" role="button"
                                   class="btn w-75 fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_green SelfStorage__btn2_green mb-3">Арендовать
                                    бокс</a>
                            </div>
                            <a href="#" class="text-center text-lg-start mt-4 SelfStorage_orange">Нужна помощь?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>
{% endblock %}
