{% extends "master.html" %}
{% load static %}
{% block main %}
{% include "header.html" %}
{% include "aside.html" %}
<div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-start">
    <div class="d-flex flex-column align-items-center align-items-lg-start px-4 py-4 SelfStorage__card SelfStorage_orange SelfStorage__bg_orange">
        <h1 class="text-white fw-bold">Внимание</h1>
        <form method="POST" action="/">
        {% csrf_token %}
        <div>
            <span class="text-white">{{message}}</span><br>
        </div>
        <button class="btn fs_24 SelfStorage_orange bg-white SelfStorage__btn_orange border-8 w-50 py-3">Вернуться на главную</button>
        </form>
    </div>
</div>
{% endblock %}
