{% extends "master.html" %}
{% load static %}
{% block main %}
{% include "header.html" %}
<main class="container mt-header">
    <style>
        /* Скрыть всплывающее окно по умолчанию */
        #myModal {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 1;
        }

        /* Стили для затемнения заднего фона */
        #overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 0;
        }
    </style>
    <div class="row" role="tablist">
        <div class="col-lg-3 d-flex flex-column nav nav-pills">
            <button class="ps-0 btn bg-white fs_24 shadow-none SelfStorage_orange SelfStorage_tab active" id="LK-tab" data-bs-toggle="pill" data-bs-target="#LK" type="button" role="tab" aria-controls="LK" aria-selected="true">Личный кабинет</button>
            <button class="ps-0 btn bg-white fs_24 shadow-none SelfStorage_grey SelfStorage_tab" id="Rent-tab" data-bs-toggle="pill" data-bs-target="#Rent" type="button" role="tab" aria-controls="Rent" aria-selected="false">Моя аренда</button>
            <a href="faq" class="btn fs_24 shadow-none text-decoration-none SelfStorage_grey SelfStorage_tab">FAQ</a>
            <a href="deauth" class="btn fs_24 shadow-none text-decoration-none SelfStorage_grey SelfStorage_tab">Выйти</a>
        </div>
        <div class="col-lg-9">
            <div class="card tab-content p-5">
                <div class="tab-pane fade show active" id="LK" role="tabpanel" aria-labelledby="LK-tab">
                  <h3  class="text-center">{{username}}</h3>

                    <form method="POST" action="my_rent">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 col-sm-5 d-flex flex-column">
                            <label class="fs_24 SelfStorage_green ms-2" for="EMAIL">E-mail</label>
                            <input type="email" required name="EMAIL_EDIT" id="EMAIL" class="form-control fs_24 ps-2 SelfStorage__input" value="{{client.user_email}}" disabled>
                            <a href="need_call" role="button"  class="btn fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_green SelfStorage__btn2_green mb-3">Позвонить мне</a>
                            {% include "message.html" %}
                            <!--label class="fs_24 SelfStorage_green ms-2" for="PASSWORD">Пароль</label>
                            <input type="password" required name="PASSWORD_EDIT" id="PASSWORD" class="form-control fs_24 ps-2 SelfStorage__input" placeholder="********" disabled>
                            <button type="submit" class="btn SelfStorage_green ps-1" id="save1" style="display: none">Сохранить</button>
                            <a class="btn SelfStorage_orange ps-1" id="edit1">Редактировать</a>
                            <script>
                                document.getElementById('edit1').addEventListener('click', e => {
                                    e.preventDefault()
                                    document.getElementById('EMAIL').disabled = false
                                    document.getElementById('PASSWORD').disabled = false
                                    document.getElementById('PASSWORD').type = 'text'
                                    document.getElementById('edit1').style.display = 'none'
                                    document.getElementById('save1').style.display = 'inline-block'
                                })
                                document.getElementById('save1').addEventListener('click', () => {
                                    setTimeout(() => {
                                        document.getElementById('EMAIL').disabled = true
                                        document.getElementById('PASSWORD').disabled = true
                                        document.getElementById('PASSWORD').type = 'password'
                                        document.getElementById('edit1').style.display = 'inline-block'
                                        document.getElementById('save1').style.display = 'none'
                                    }, 0)
                                })
                            </script-->
                        </div>

                        {% csrf_token %}
                        <div class="col-12 col-sm-7 d-flex flex-column">
                            <label class="fs_24 SelfStorage_green ms-2" for="PHONE">Телефон</label>
                            <input type="tel" name="PHONE_EDIT" id="PHONE" class="form-control fs_24 ps-2 SelfStorage__input" placeholder="Ваш телефонный номер" value="{{client.phonenumber}}" disabled>
                            <label class="fs_24 SelfStorage_green ms-2" for="ADDRESS">Адрес</label>
                            <textarea  rows=3 name="ADDRESS_EDIT" id="ADDRESS" class="form-control fs_24 ps-2 SelfStorage__input" placeholder="Ваш адрес" disabled>{{client.address}}</textarea>
                            <button type="submit" class="btn SelfStorage_green ps-1" id="save2" style="display: none">Сохранить</button>
                            <a class="btn SelfStorage_orange ps-1" id="edit2">Редактировать</a>
                            <script>
                                document.getElementById('edit2').addEventListener('click', e => {
                                    e.preventDefault()
                                    document.getElementById('ADDRESS').disabled = false

                                    document.getElementById('PHONE').disabled = false

                                    document.getElementById('edit2').style.display = 'none'
                                    document.getElementById('save2').style.display = 'inline-block'
                                })
                                document.getElementById('save2').addEventListener('click', () => {
                                    setTimeout(() => {
                                        document.getElementById('ADDRESS').disabled = true
                                        document.getElementById('PHONE').disabled = true
                                        document.getElementById('edit2').style.display = 'inline-block'
                                        document.getElementById('save2').style.display = 'none'
                                    }, 0)
                                })
                            </script>
                        </div>
                    </div>
                  </form>
                </div>
                <div class="tab-pane fade" id="Rent" role="tabpanel" aria-labelledby="Rent-tab">
                    <h1 class="fw-bold SelfStorage_green mb-5">Добрый день, {{username}}!</h1>
                    <a href="#" class="SelfStorage_orange">История аренды</a>
                    <!--h4 class="SelfStorage_grey my-3">Срок Вашей аренды подходит к концу :(<br>Вы можете продлить аренду или забрать вещи до 28 июня 2022 года включительно.</h4-->
                    {% for order in orders %}
                      <div class="mb-5">
                        <h4 class="SelfStorage_green">№ {{order.box.storage.numer}}</h4>
                        <h4>{{order.box.storage.address}}</h4>
                        <h4 class="SelfStorage_green">Мой бокс</h4>
                        <h4>№ {{order.box.name}}</h4>
                        <h4 class="SelfStorage_green">Срок аренды</h4>
                        <h4>{{order.paid_with}} - </h4>
                        <div><a href="need_invoice" role="button"  class="btn fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_green SelfStorage__btn2_green mb-3">Продлить аренду</a></div>
                        <div><button onclick="openModal()"class="btn fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_orange SelfStorage__btn2_orange mb-3">Открыть бокс</button></div>
                        <a href="#" class="SelfStorage_orange">Нужна помощь?</a>
                      </div>
                    {% endfor %}
                    <div id="myModal">
                        <p>Это всплывающее окно!</p>
                        <img src="" alt="QR Code"> <!-- Пустой тег img для загрузки QR-кода -->
                        <button id="closeButton">Закрыть</button>
                    </div>
                    <div id="overlay" onclick="closeModal()"></div>

                    <script>
                        function openModal() {
                            var xhr = new XMLHttpRequest();
                            xhr.open("GET", "{% url 'generate_qr_code' %}", true);
                            xhr.responseType = "blob";

                            xhr.onload = function () {
                                if (xhr.status === 200) {
                                    var imageUrl = URL.createObjectURL(xhr.response);
                                    document.getElementById('myModal').innerHTML = '<img src="' + imageUrl + '" alt="QR Code">';
                                    document.getElementById('myModal').style.display = 'block';
                                    document.getElementById('overlay').style.display = 'block';
                                }
                            };

                            xhr.send();
                        }
                        function closeModal() {
                            document.getElementById('myModal').style.display = 'none';
                            document.getElementById('overlay').style.display = 'none';
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
